@import "global.css";

html {
    scroll-behavior: smooth;
}

body {
    background-image: none;
}

a {
    text-decoration: none;
}

nav {
    height: 100px;
}

nav ul {
    align-items: center;
    height: 50px;
    padding-top: 20px;
}

.left-bar {
    float: left;
    margin-left: 75px;
}

.right-bar {
    float: right;
    margin-right: 75px;
}

.right-bar button {
    border-radius: 5px;
    width: 80px;
    text-align: center;
    background-color: transparent;
    color: #212568;
    box-shadow: none;
    border: 2px solid #212568;
    margin: 0px 5px 0px 5px;
}

.right-bar button:hover {
    color: #4f5fb8;
    border-color: #4f5fb8;
}

#car-symbol {
    max-width: 50px;
    max-height: 50px;
}

#user-symbol {
    max-width: 23px;
    max-height: 23px;
}

#banners {
    height: 500px;
}

#banner-background {
    position: absolute;
    width: 100%;
    height: 500px;
    background-image: url("../images/banner-1.jpg");
    background-position: 50% calc(50% - 125px) ;
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(100%) brightness(50%);
    transition: background 1s ease-in-out;
    
}

p[id^="banner"] {
    position: absolute;
    color: white;
    font-family: uni-sans-thin;
    font-weight: lighter;
}

img[id^="next-button"] {
    position: absolute;
    top: 400px;
    max-width: 50px;
}

#next-button-left {
    left: 15px;
    transform: scaleX(-1);
}

#next-button-right {
    right: 15px;
}

p#banner-title {
    left: 200px;
    top: 25%;
    font-size: 5em;
}

p#banner-small-description {
    left: 200px;
    top: 22%;
    font-size: 1.5em;
}

.blue-button {
    background-color: rgb(0, 174, 255);
    box-shadow: none;
    color: white;
    font-size: 0.9em;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}
.blue-button:hover {
    box-shadow: none;
    background-color: rgb(78, 199, 255);
}

#banner-button {
    position: absolute;
    left: 200px;
    top: 45%;
}

#leistung-button {
    height: 40px;
}

article#about {
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-family: uni-sans-thin;
}

div#leistungen {
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

div#hintergrund {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.group {
    box-shadow: rgba(131, 131, 143, 0.2) 0px 7px 20px 0px;
    padding: 15px;
}

p.description {
    text-align: left;
}

#leistungen p {
    width: 250px;
}

#hintergrund p {
    width: 500px;
}

hr {
    margin: 0px 100px 0px 100px;
}

#contact {
    text-align: left;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    background-color: rgb(0, 174, 255);
    box-shadow: rgba(131, 131, 143, 0.2) 0px -7px 20px 0px;
    position: absolute;
    bottom: -100vh;
    width: 100%;
    height: 175px;
    align-items: center;
    padding-bottom: 30px;
}

#contact b,  #contact h2, #contact a {
    color: white !important;
}